body{ 
background-color:#000000 ;
color:#fff;
font-family: 'Times New Roman', Times, serif;
}
p{
line-height: 2.25em;
}

#container{
    width: 700px;
    margin:0 auto;
    background-color: #b81515;
    padding-left: double rgb(0, 0, 0) 5px;
    padding-right: double rgb(0, 0, 0) 5px;
}
img{
    width: 300px;
float:left;
border:solid 3px #100ac9
margin-right 20px;
}
