body{ 
background-color:#383131 ;
color:#fff;
font-family: 'Times New Roman', Times, serif;
}
p{
line-height: 2.25em;
}

#container{
    width: 700px;
    margin:0 auto;
    background-color: #383131;
    padding-left: double white 5px;
    padding-right: double white 5px;
}
img{
    width: 300px;
float:left;
border:solid 3px #100ac9
margin-right 20px;
}
